.question {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    div.reveal {
        position: relative;
        transform: translateY(150px);
        opacity: 0;
        transition: 1s all ease;
        &.active{
            transform: translateY(0);
            opacity: 1;
        }
    }

    div {
        width: 80%
    }
    .error{
        color: red;
    }
    .action{
        margin-top: 20px;
        text-align: center;
    }
}