<div class="multi-choice">
    {{#unless @multiAnswer}}
    {{#each @choices as |choice| }}
    <label>
        <input type="radio" value={{choice.value}} checked={{eq choice.value @value}}
        {{on "click" (fn @output choice.value) }} />
        {{choice.label}}
    </label>
    {{/each}}
    {{/unless}}
</div>